.btn {
  background-color: $mainBlue;
  color: #FFFFFF;
  padding: .75rem 1.2rem;
  text-decoration: none;
  display: inline-block;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}